/** @format */
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
:root {
	--primary: #5353b1;
	--white: #ffffff;
	--black: #333333;
	--bg: #c3c3c3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	background: var(--primary);
	font-family: "Play", sans-serif;
	font-size: 16px;
}
.hidden {
	display: none;
}
.container {
	max-inline-size: 95vw;
	margin: 0 auto;
}

.title {
	font-size: 1.8rem;
	color: var(--black);
	text-align: center;
	color: var(--white);
	margin: 1rem 0;
}

.container .video-container {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
}

.container .video-container:hover .video-overlay {
	opacity: 1;
}

.container .video-container .video-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}
.container .video-container .video-title {
	position: absolute;
	color: var(--white);
	inset-block-start: .8rem;
	inset-inline-start: .6rem;
	font-size: .8rem;
}
.container .video-container .video-actions {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
.container .video-container .video-actions .video-button {
	inline-size: 1.85rem;
	block-size: 1.85rem;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
}
.container .video-container .video-actions .video-button:hover {
	transform: scale(1.1);
}
#play {
	background-image: url("../images/play.svg");
}
#pause {
	background-image: url("../images/pause.svg");
}
#backward {
	background-image: url("../images/backward.svg");
}
#forward {
	background-image: url("../images/forward.svg");
}
.video-progress {
	position: absolute;
	inset-block-end: 0.3rem;
	inset-inline: 0;
	display: flex;
	padding: 0.5rem 1rem;

}
.video-progress #progress {
	flex: 1;
	height: .3rem;
	cursor: pointer;
	border-radius: .3rem; ;
}
.video-container video {
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
	aspect-ratio: 16/9;
	vertical-align: middle;
}
.video-container video[poster] {
	border-radius: 0.3rem;
	object-fit: cover;
}

.container .playlist-container {
	margin: 0.5rem 0;
	padding: 0.5rem;
	background-color: var(--white);
	border-radius: 0.3rem;
}
.container .playlist-container .playlist {
	display: block;
}
.container .playlist-container .playlist .playlist_title {
	font-size: 1.4rem;
	padding: 0.5rem 0 0.5rem 0.5rem;
	border-bottom: 2px solid var(--bg);
}

.container .playlist-container .playlist .playlist_list {
	display: flex;
	flex-wrap: wrap;
}

.container .playlist-container .playlist .playlist_list .playlist_item {
	display: flex;
	width: 100%;
	height: 5rem;
	padding: 0.5rem;
	margin: 0 0.5rem;
	border-bottom: 1px solid var(--bg);
	cursor: pointer;
}
.container
	.playlist-container
	.playlist
	.playlist_list
	.playlist_item:hover
	.item_description
	.item_time {
	color: var(--primary);
}
.container .playlist-container .playlist .playlist_list .playlist_item img {
	width: 100px;
	height: 100%;
}

.container
	.playlist-container
	.playlist
	.playlist_list
	.playlist_item
	.item_description {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0.3rem;
	padding: 0.3rem;
}

.container
	.playlist-container
	.playlist
	.playlist_list
	.playlist_item
	.item_description
	.item_title {
	width: 100%;
	line-height: 1.1rem;
	font-size: 1rem;
	color: var(--black);
}
.container
	.playlist-container
	.playlist
	.playlist_list
	.playlist_item
	.item_description
	.item_time {
	font-size: 0.8rem;
	font-weight: bold;
	color: var(--bg);
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: var(--white);
	color: var(--black);
	padding: 1rem 0.5rem;
	text-align: center;
}
.footer p {
	width: 100%;
	margin-bottom: 5px;
}
.footer strong {
	color: var(--primary);
}
.sociales {
	display: flex;
	width: 30%;
	justify-content: space-between;
	margin: auto;
}
.sociales .item_social a {
	font-size: 1.2rem;
	color: var(--black);
}
.sociales .item_social a:hover {
	color: var(--primary);
}
@media screen and (min-width: 868px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: initial;
		position: relative;
		width: 100vw;
		height: auto;
		margin: 0.5rem auto;
	}
	.title {
		width: 100%;
		height: auto;
	}
	.container .video-container {
		display: inline-block;
		max-width: 63.33%;
		height: 100%;
	}
	.video-container video {
		width: 100%;
		height: 100%;
	}
	.container .video-container .video-title {
		inset-block-start: 1rem;
		inset-inline-start: 1.5rem;
		font-size: 1.5rem;
	}
	.container .video-container .video-actions .video-button {
		inline-size: 2.1rem;
		block-size: 2.1rem;
	}
	.video-progress #progress {
		flex: 1;
		height: .6rem;
	
		border-radius: .6rem; ;
	}

	.container .playlist-container {
		display: inline-block;
		max-width: 33.33%;
		height: calc(100%-40px);
		margin: 0;
	}
	.footer {
		width: 100%;
		position: fixed;
		bottom: 0;
		height: auto;
		padding: 1rem 0.5rem;
		flex-wrap: nowrap;
	}
	.footer p {
		width: 30%;
		margin: 0 0 0 auto;
	}
	.sociales {
		width: 10%;
		margin: 0 auto 0 0;
	}
}
